__pycache__/
.DS_Store

results/
experiments/
tmp/
*.pth
*.pt
wav2vec2-base-960h/
wav2vec-english-speech-emotion-recognition/
results/
checkpoints/onnx_models/fmt.onnx
.gitignore
checkpoints/trt_engines/fmt_fp16_20260528_162205.engine
checkpoints/onnx_models/fmt_nocfg.onnx
checkpoints/onnx_models/fmt_nocfg.onnx.shapes.json
checkpoints/onnx_models/fmt.onnx.shapes.json
checkpoints/trt_engines/fmt_fp16_manifest.json
checkpoints/trt_engines/fmt_fp16_nocfg_manifest.json
checkpoints/trt_engines/fmt_fp16_nocfg.engine
checkpoints/trt_engines/fmt_fp16.engine
checkpoints/trt_engines/fmt_fp32_manifest.json
checkpoints/trt_engines/fmt_fp32_nocfg_manifest.json
checkpoints/trt_engines/fmt_fp32_nocfg.engine
checkpoints/trt_engines/fmt_fp32.engine
accelerate_dev/float_fmt.engine
accelerate_dev/float_fmt.onnx
onnx_models/float_fmt.onnx
onnx_models/fmt_onnx_noconsfold.onnx
onnx_models/fmt_onnx.onnx
onnx_models/fmt_onnx_bool.onnx
onnx_models/fmt_onnx_maskfill.onnx
experiment/onnxruntime/
extra_assests/
onnx_models/fmt_onnx_maskfill_addcfg.onnx
fmt_onnx_maskfill_addcfg_preprocessed.onnx
fmt_onnx_maskfill_addcfg_int8.onnx
trtexec_installer/nv-tensorrt-local-repo-ubuntu2204-11.0.0-cuda-12.9_1.0-1_amd64.deb
trtexec_installer/nv-tensorrt-local-repo-ubuntu2204-10.16.1-cuda-12.9_1.0-1_amd64.deb
trtexec_installer/nv-tensorrt-local-repo-ubuntu2204-10.0.0-cuda-11.8_1.0-1_amd64.deb
trt_models/fmt_onnx_maskfill_addcfg.trt
